@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Modelagem DDD</h1>
    <p class="lead">Aplicação desenvolvida com base no tutorial do Eduardo Pires, utilizando ASP.NET MVC 5, Entity Framework, AutoMapper, IoC com Ninject.</p>
    <p><a href="http://www.eduardopires.net.br/2014/10/tutorial-asp-net-mvc-5-ddd-ef-automapper-ioc-dicas-e-truques/" class="btn btn-primary btn-lg">Veja mais &raquo;</a></p>
</div>
